[tool.poetry]
name = "HibiAPI"
version = "0.7.3"
description = "A program that implements easy-to-use APIs for a variety of commonly used sites"
authors = ["mixmoe"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://api.obfs.dev"
repository = "https://github.com/mixmoe/HibiAPI"
documentation = "https://github.com/mixmoe/HibiAPI/wiki"

[tool.poetry.scripts]
hibiapi = 'hibiapi.__main__:main'

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.65.2"
httpx = {extras = ["http2"], version = "^0.18.0"}
uvicorn = {extras = ["standard"], version = "^0.14.0"}
confuse = "^1.4.0"
loguru = "^0.5.3"
python-dotenv = ">=0.17,<0.19"
qrcode = {extras = ["pil"], version = "^6.1"}
aiofiles = "^0.7.0"
pycryptodomex = "^3.10.1"
sentry-sdk = "^1.1.0"
pydantic = "^1.8.2"
python-multipart = "^0.0.5"
aiocache = {extras = ["redis"], version = "^0.11.1"}
click = "^8.0.1"

[tool.poetry.dev-dependencies]
black = "^21.6b0"
mypy = "^0.902"
flake8 = "^3.9.2"
pytest = "^6.2.4"
requests = "^2.25.1"
coverage = "^5.5"
types-click = "^7.1.1"
types-requests = "^0.1.12"
isort = "^5.9.1"
pytest-httpserver = "^1.0.1"
pytest-rerunfailures = "^10.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
