[tool.poetry]
name = "HibiAPI"
version = "0.2.0"
description = "An alternative implement of Imjad API"
authors = ["mixmoe"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.63.0"
httpx = "^0.16.1"
uvicorn = "^0.13.1"
confuse = "^1.4.0"
loguru = "^0.5.3"
python-dotenv = "^0.15.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
mypy = "^0.790"
flake8 = "^3.8.4"
pytest = "^6.2.1"
requests = "^2.25.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
