[tool.poetry]
name = "HibiAPI"
version = "0.7.7"
description = "A program that implements easy-to-use APIs for a variety of commonly used sites"
authors = ["mixmoe <admin@obfs.dev>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://api.obfs.dev"
repository = "https://github.com/mixmoe/HibiAPI"
documentation = "https://github.com/mixmoe/HibiAPI/wiki"

[tool.poetry.scripts]
hibiapi = 'hibiapi.__main__:main'

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.71.0"
httpx = { extras = ["http2"], version = ">=0.21.3,<0.23.0" }
uvicorn = { extras = ["standard"], version = ">=0.14,<0.18" }
confuse = "^1.4.0"
loguru = ">=0.5.3,<0.7.0"
python-dotenv = ">=0.17,<0.20"
qrcode = { extras = ["pil"], version = ">=6.1,<8.0" }
pycryptodomex = "^3.10.1"
sentry-sdk = "^1.5.0"
pydantic = "^1.9.0"
python-multipart = "^0.0.5"
aiocache = "^0.11.1"
click = "^8.0.1"

[tool.poetry.dev-dependencies]
black = "^22.1"
mypy = "^0.931"
flake8 = "^4.0.1"
pytest = "^7.0.0"
requests = "^2.27.1"
types-click = "^7.1.8"
types-requests = "^2.27.13"
isort = "^5.10.1"
pytest-httpserver = "^1.0.4"
pytest-rerunfailures = "^10.2"
pytest-cov = "^3.0.0"
pytest-benchmark = "^3.4.1"

[tool.isort]
profile = "black"
multi_line_output = 3

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
