[tool.poetry]
name = "HibiAPI"
version = "0.6.0"
description = "An alternative implement of Imjad API"
authors = ["mixmoe"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.63.0"
httpx = {extras = ["http2"], version = "~0.17.1"}
uvicorn = {extras = ["standard"], version = "^0.13.4"}
confuse = "^1.4.0"
loguru = "^0.5.3"
python-dotenv = "^0.17.0"
qrcode = {extras = ["pil"], version = "^6.1"}
aiofiles = "^0.6.0"
pycryptodomex = "^3.10.1"
sentry-sdk = "^1.0.0"
pydantic = "^1.8.1"
python-multipart = "^0.0.5"
aiocache = {extras = ["redis"], version = "^0.11.1"}

[tool.poetry.dev-dependencies]
black = "^21.5b0"
mypy = "^0.812"
flake8 = "^3.9.1"
pytest = "^6.2.3"
requests = "^2.25.1"
coverage = "^5.5"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
