name: Release

on:
  create:
    tags: [v*]
  workflow_dispatch:

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pdm-project/setup-pdm@v3
        with:
          python-version: 3.8

      - name: Install Dependencies
        run: |
          pdm install --prod

      - name: Release to PyPI
        env:
          PDM_PUBLISH_USERNAME: __token__
          PDM_PUBLISH_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          pdm publish
