name: Test

on:
  workflow_dispatch:

  push:
    branches: [main, dev]

  pull_request_target:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  cloc:
    runs-on: ubuntu-latest
    name: Count Lines of Code

    steps:
      - uses: actions/checkout@v2

      - name: Install CLoC
        run: |
          sudo apt-get update
          sudo apt-get install cloc

      - name: Count Lines of Code
        run: |
          cloc . --md >> $GITHUB_STEP_SUMMARY

  test:
    runs-on: ${{ matrix.os }}
    name: Testing

    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - python: pypy3.8
            os: ubuntu-latest
          - python: pypy3.9
            os: ubuntu-latest
      max-parallel: 3

    defaults:
      run:
        shell: bash

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: pdm-project/setup-pdm@v3
        with:
          python-version: ${{ matrix.python }}
          cache: true

      - name: Install dependencies
        timeout-minutes: 5
        run: pdm install

      - name: Testing with pytest
        timeout-minutes: 15
        run: |
          curl -L ${{ secrets.DOTENV_LINK }} > .env
          pdm test

      - name: Create step summary
        if: always()
        run: |
          echo "## Summary" >> $GITHUB_STEP_SUMMARY
          echo "OS: ${{ matrix.os }}" >> $GITHUB_STEP_SUMMARY
          echo "Python: ${{ matrix.python }}" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          pdm run coverage report -m >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

      - uses: codecov/codecov-action@v3
        if: always()
        with:
          env_vars: OS,PYTHON
          file: coverage.xml
