name: Test

on:
  workflow_dispatch:

  push:
    branches: [main, dev]

  pull_request_target:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: Testing

    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - python: pypy3.8
            os: ubuntu-latest
          - python: pypy3.9
            os: ubuntu-latest
      fail-fast: false
      max-parallel: 3

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: poetry

      - name: Install dependencies
        timeout-minutes: 5
        run: poetry install

      - name: Testing with pytest
        timeout-minutes: 15
        run: |
          curl -L ${{ secrets.DOTENV_LINK }} > .env
          poetry run pytest --cov ./hibiapi/ --cov-report xml --cov-report term-missing ./test

      - uses: codecov/codecov-action@v3
        with:
          env_vars: OS,PYTHON
          file: coverage.xml
